In [77]:
import pandas as pd

In [78]:
movies_df = pd.read_csv('./data/ml-20m/movies.csv')
noPoster_df = pd.read_csv('./data/NoPosterFound_Links.csv')
ratings_df = pd.read_csv('./data/ml-20m/ratings.csv')
plots_df = pd.read_csv('./data/plots.csv', names=['movieId','title','plot'])

In [134]:
noPoster = noPoster_df['movieId'].to_list()
noPlot = plots_df[plots_df['plot'].isnull()].index.to_list()

[708, 17126]

In [87]:
noPoster_df, ratings_df, plots_df

(     movieId   imdbId    tmdbId
 0        604   115978       NaN
 1        644   116485  339428.0
 2        654   118026  278978.0
 3        721   114103       NaN
 4        727   114894  365371.0
 ..       ...      ...       ...
 335   128856  1821384  322260.0
 336   129849  1604139  195186.0
 337   129887   310741  157152.0
 338   130466  4300028  328346.0
 339   131110  1640103  333324.0

 [340 rows x 3 columns],
           userId  movieId  rating   timestamp
 0              1        2     3.5  1112486027
 1              1       29     3.5  1112484676
 2              1       32     3.5  1112484819
 3              1       47     3.5  1112484727
 4              1       50     3.5  1112484580
 ...          ...      ...     ...         ...
 20000258  138493    68954     4.5  1258126920
 20000259  138493    69526     4.5  1259865108
 20000260  138493    69644     3.0  1260209457
 20000261  138493    70286     5.0  1258126944
 20000262  138493    71619     2.5  1255811136

 [20000263 rows x 4 columns],
        movieId                            title  \
 0            1                        Toy Story
 1            2                          Jumanji
 2            3                 Grumpier Old Men
 3            4                Waiting to Exhale
 4            5      Father of the Bride Part II
 ...        ...                              ...
 27273   131254             Kein Bund fürs Leben
 27274   131256           Feuer, Eis & Dosenbier
 27275   131258  Hae-jeok: Ba-da-ro gan san-jeok
 27276   131260                     Rentun ruusu
 27277   131262                        Innocence

                                                     plot
 0      A cowboy doll is profoundly threatened and jea...
 1      When two kids find and play a magical board ga...
 2      John and Max resolve to save their beloved bai...
 3      Based on Terry McMillan's novel, this film fol...
 4      George Banks must deal not only with the pregn...
 ...                                                  ...
 27273  Basti, doesn't want to go to the Bundeswehr an...
 27274  Two friends who are doing civil service flee t...
 27275  A band of pirates and a group of bandits fight...
 27276       The life of Irwin Goodman, a Finnish singer.
 27277  A young woman discovers her elite Manhattan pr...

 [27278 rows x 3 columns])

In [141]:
plots_df.drop(noPlot, axis=0, inplace=True)

In [142]:
def delete_noPoster(df1, df2, noPoster_lst):
    df = pd.concat([df1, df2], axis=0)
    df = df.reset_index(drop=True)
    a = df[df['movieId'].isin(noPoster_lst)].index
    df = df.drop(a, axis=0)
    df.drop(['imdbId', 'tmdbId'], axis =1, inplace=True)
    df = df.reset_index(drop=True)
    return df

In [143]:
del_plots_df = delete_noPoster(noPoster_df, plots_df, noPoster)
del_ratings_df = delete_noPoster(noPoster_df, ratings_df, noPoster)

In [144]:
del_plots_df

,movieId,title,plot
0,1,Toy Story,A cowboy doll is profoundly threatened and jea...
1,2,Jumanji,When two kids find and play a magical board ga...
2,3,Grumpier Old Men,John and Max resolve to save their beloved bai...
3,4,Waiting to Exhale,"Based on Terry McMillan's novel, this film fol..."
4,5,Father of the Bride Part II,George Banks must deal not only with the pregn...
...,...,...,...
26931,131254,Kein Bund fürs Leben,"Basti, doesn't want to go to the Bundeswehr an..."
26932,131256,"Feuer, Eis & Dosenbier",Two friends who are doing civil service flee t...
26933,131258,Hae-jeok: Ba-da-ro gan san-jeok,A band of pirates and a group of bandits fight...
26934,131260,Rentun ruusu,"The life of Irwin Goodman, a Finnish singer."
26935,131262,Innocence,A young woman discovers her elite Manhattan pr...

In [147]:
del_plots_df.to_csv('./data/del_plots.csv', mode='w')
del_ratings_df.to_csv('./data/del_ratings.csv', mode='w')